<div class="card">
    <div class="card-body">
        <form>
            <div class="mb-3">
                <input [(ngModel)]="task.name" class="form-control" type="text" placeholder="Task name" name="name" />
            </div>
            <div class="mb-3">
                <textarea [(ngModel)]="task.desc" class="form-control" rows="3" placeholder="Task description" name="desc"></textarea>
            </div>
            <div class="mb-3">
                <input [(ngModel)]="task.priority" class="form-control" type="number" placeholder="Task priority" name="priority" />
            </div>
            <div class="d-grid">
                <button (click)="handleAddTask()" class="btn btn-success" type="button">Add</button>
            </div>
        </form>
    </div>
</div>